# PATH
/EDA/
/HAM10000/
/RESULT/
/MODEL/EVALUATION/
/MODEL/Automated_Ensemble/
/REFERENCE/

# SUB-PATH
**/__pycache__/
**/fine_tune_model
**/pkl
**/notebook
**/old
**/temp

# FILE
**.env
**.ipynb
prompt_template.json
env_cam.json