aiohttp==3.9.1
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.6.0
anyio==4.2.0
asttokens
async-timeout==4.0.3
attrs==23.2.0
bcrypt==4.1.2
blinker==1.7.0
Bottleneck
brotlipy==0.7.0
cachetools==5.3.2
certifi
cffi
charset-normalizer
click==8.1.7
colorama
comm
contourpy==1.2.0
cryptography
cycler==0.12.1
Cython==3.0.8
dataclasses-json==0.6.3
debugpy
decorator
distro==1.9.0
dnspython==2.4.2
exceptiongroup
executing
extra-streamlit-components==0.1.60
filelock
fonttools==4.45.1
frozenlist==1.4.1
fsspec==2023.12.2
gitdb==4.0.11
GitPython==3.1.41
grad-cam==1.5.0
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.20.2
idna
imageio==2.31.3
importlib-metadata
importlib-resources==6.1.1
ipykernel
ipython
jedi
Jinja2
joblib
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.0
jsonschema-specifications==2023.12.1
jupyter_client
jupyter_core
kiwisolver==1.4.5
langchain==0.1.1
langchain-community==0.0.13
langchain-core==0.1.11
langchain-openai==0.0.2.post1
langsmith==0.0.81
lazy_loader==0.3
markdown-it-py==3.0.0
MarkupSafe
marshmallow==3.20.2
matplotlib==3.8.2
matplotlib-inline
mdurl==0.1.2
mkl-fft
mkl-random
mkl-service==2.4.0
mpmath
multidict==6.0.4
mypy-extensions==1.0.0
nest-asyncio
networkx
numexpr
numpy
openai==1.8.0
opencv-python==4.9.0.80
packaging
pandas
parso
pickleshare
Pillow==10.0.1
platformdirs
prompt-toolkit
protobuf==4.25.2
psutil
pure-eval
pyarrow==14.0.2
pycocotools==2.0.7
pycparser
pydantic==2.5.3
pydantic_core==2.14.6
pydeck==0.8.1b0
pydensecrf
Pygments
PyJWT==2.8.0
pymongo==4.6.0
pyOpenSSL
pyparsing==3.1.1
PySocks
python-dateutil
pytz
PyWavelets==1.4.1
pywin32==305.1
PyYAML==6.0.1
pyzmq
referencing==0.32.1
regex==2023.12.25
requests
rich==13.7.0
rpds-py==0.17.1
safetensors==0.4.1
scikit-image==0.21.0
scikit-learn
scipy==1.11.2
six
sklearn==0.0.post11
smmap==5.0.1
sniffio==1.3.0
SQLAlchemy==2.0.25
stack-data
streamlit==1.28.2
streamlit-authenticator==0.2.3
streamlit-image-comparison==0.0.4
sympy
tabulate==0.9.0
tenacity==8.2.3
threadpoolctl
tifffile==2023.9.18
tiktoken==0.5.2
timm==0.9.12
tokenizers==0.15.0
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torchaudio==2.0.2
torchray==1.0.0.2
torchvision==0.15.2
tornado
tqdm
traitlets
transformers==4.36.2
ttach==0.0.3
typing-inspect==0.9.0
typing_extensions
tzdata
tzlocal==5.2
urllib3
validators==0.22.0
watchdog==3.0.0
wcwidth
win-inet-pton
yarl==1.9.4
zipp
